@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-header: "Montserrat", sans-serif;
  --font-normal: "Lato", cursive;

  --color-brand: #2866c9;
  --color-dark: #060e1d;
  --color-white: #dfe9f9;
  --color-mid: #aec7ef;
}
.cta{
    background: linear-gradient(90deg, #2866C9 0%, #143263 100%);
   
}
.home{
    background: linear-gradient(249deg, #060E1D 36.16%, #123C8A 123.66%);
}