---
import CTAButton from "../components/CTAButton.astro";
---

<header
  class="flex flex-col items-center gap-5 home min-h-screen px-[20px]"
>
  <div class="bg-[#0A1F46]/60 rounded-full w-[235px] h-[235px] overflow-hidden mt-20">
    <img
      src="/vinicius-photo.png"
      height="235px"
      width="235px"
      class="mt-10 ml-[-8px]"
    />
  </div>
  <section class="text-center flex flex-col gap-6 ">
    <article class="flex flex-col gap-1">
      <h1 class="font-header text-5xl text-center font-black text-white">VINICIUS HENRIQUE</h1>
      <h3 class="text-mid uppercase font-header text-3xl">Desenvolvedor web</h3>
    </article>
     <div class="border-2 border-brand w-full"></div>
    <article class="flex flex-col text-white gap-4 items-center justify-center">
      <p class="font-normal text-xl">
        Desenvolvedor apaixonado por aprender, sempre motivado a desenvolver
        soluções de forma criativa e performática
      </p>
      <CTAButton />
    </article>
  </section>

 
</header>
