---
import BaseLayout from "../layouts/BaseLayout.astro";

import HomePage from "./HomePage.astro";
---

<BaseLayout>
  <HomePage />
  <div class="border-4 border-brand w-full"></div>
  
</BaseLayout>
