---
import Navbar from "../components/Navbar.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import HomePage from "./HomePage.astro";
---

<BaseLayout>
  <Navbar />
  <HomePage />
  <div class="border-4 border-brand w-full"></div>
    <HomePage />
  <div class="border-4 border-brand w-full"></div>
</BaseLayout>
