<nav class="flex w-full fixed pt-[20px] px-[20px] z-10 justify-between">
    <img src="/vh-logo.svg" height="60px" width="60px"/>
    <div class="hidden lg:flex font-header text-xl text-white gap-8 font-bold">
        <a href="#about">SOBRE MIM</a>
        <a href="#projects">PROJETOS</a>
        <a href="#contact">CONTATO</a>
    </div>
    <img src="/bars.svg" height="40px" width="40px" class="lg:hidden"/>
</nav>